<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--#Configuracion del POOL-->
		<add key="tc" value="10"/>
		<add key="gr" value="5"/>
		<add key="mc" value="50"/>

		<!--#Consultas de Pasantes-->
		<add key="testPasante" value="SELECT COUNT(*) FROM pasante WHERE ci_pasante = @Parameter1"/>
		<add key="getPasantes" value="SELECT ci_pasante as id, no_pasante as nombre, ap_pasante as apellido FROM pasante ORDER BY ci_pasante"/>
		<add key="InsertPasante" value="INSERT INTO pasante VALUES (nextval('pasante_ci_pasante_seq'), @Parameter1, @Parameter2)"/>
		<add key="UpdatePasante" value="UPDATE pasante SET no_pasante = @Parameter1, ap_pasante = @Parameter2 WHERE ci_pasante = @Parameter3"/>
		<add key="DeletePasante" value="DELETE FROM pasante WHERE ci_pasante = @Parameter1"/>

		<!--#Consultas de Tutores-->
		<add key="testTutor" value="SELECT COUNT(*) FROM tutor WHERE ci_tutor = @Parameter1"/>
		<add key="getTutores" value="SELECT t.ci_tutor AS id, tp.de_tipo_tutor AS tipo , t.no_tutor AS nombre, t.ap_tutor AS apellido FROM tutor t INNER JOIN tipo_tutor tp ON tp.ti_tutor = t.ti_tutor ORDER BY ci_tutor"/>
		<add key="getTipoTutor" value="SELECT ti_tutor, de_tipo_tutor AS descripcion FROM tipo_tutor"/>
		<add key="InsertTutor" value="INSERT INTO tutor VALUES (nextval('tutor_ci_tutor_seq'), @Parameter3, @Parameter1, @Parameter2)"/>
		<add key="UpdateTutor" value="UPDATE tutor SET no_tutor = @Parameter1, ap_tutor = @Parameter2 WHERE ci_tutor = @ @Parameter4"/>
		<add key="DeleteTutor" value="DELETE FROM tutor WHERE ci_tutor = @Parameter1"/>

		<!--#Consultas de Empresas-->
		<add key="testEmpresa" value="SELECT COUNT(*) FROM empresa WHERE id_empresa = @Parameter1"/>
		<add key="getEmpresa" value="SELECT id_empresa AS id, no_empresa AS nombre FROM empresa"/>
		<add key="InsertEmpresa" value="INSERT INTO empresa VALUES (nextval('empresa_id_empresa_seq'), @Parameter1)"/>
		<add key="UpdateEmpresa" value="UPDATE empresa SET no_empresa = @Parameter1 WHERE id_empresa = @Parameter2"/>
		<add key="DeleteEmpresa" value="DELETE FROM empresa WHERE id_empresa = @Parameter1"/>

		<!--#Consultas de Pasantias-->
		<add key="testPasantia" value="SELECT COUNT(*) FROM pasantia WHERE id_pasantia = @Parameter1"/>
		<add key="getPasantia" value="SELECT id_pasantia AS id, pste.ci_pasante AS cedula, CONCAT(pste.no_pasante, ' ', pste.ap_pasante) AS pasante, CONCAT(t.no_tutor, ' ',t.ap_tutor) AS academico, CONCAT(t2.no_tutor, ' ', t2.ap_tutor) AS industrial, e.no_empresa AS empresa, TO_CHAR(fe_contratacion, 'DD-MM-YYYY') AS contracion, TO_CHAR(fe_inicio, 'DD-MM-YYYY') AS inicio, TO_CHAR(fe_culminacion, 'DD-MM-YYYY') AS culminacion FROM pasantia pstia INNER JOIN pasante pste ON pste.ci_pasante = pstia.ci_pasante INNER JOIN empresa e ON e.id_empresa = pstia.id_empresa INNER JOIN tutor t ON t.ci_tutor = pstia.ci_tutor_acad INNER JOIN tutor t2 ON t2.ci_tutor = pstia.ci_tutor_ind"/>
		<add key="InsertPasantia" value="INSERT INTO pasantia VALUES (nextval('pasantia_id_pasantia_seq'), @Parameter1, @Parameter2, @Parameter3, @Parameter4, @Parameter5,  @Parameter6 ,  @Parameter7)"/>
		<add key="UpdatePasantia" value="UPDATE pasantia SET ci_tutor_acad = @Parameter2, ci_tutor_ind = @Parameter3, fe_inicio = @Parameter6, fe_culminacion = @Parameter7 WHERE id_pasantia = @Parameter8"/>
		<add key="getTutorAcademico" value="SELECT t.ci_tutor AS id, t.no_tutor AS nombre, t.ap_tutor AS apellido FROM tutor t INNER JOIN tipo_tutor tp ON tp.ti_tutor = t.ti_tutor WHERE tp.de_tipo_tutor = 'ACADEMICO'"/>
		<add key="getTutorIndustrial" value="SELECT t.ci_tutor AS id, t.no_tutor AS nombre, t.ap_tutor AS apellido FROM tutor t INNER JOIN tipo_tutor tp ON tp.ti_tutor = t.ti_tutor WHERE tp.de_tipo_tutor = 'INDUSTRIAL'"/>
		<add key="DeletePasantia" value="DELETE FROM pasantia WHERE id_pasantia = @Parameter1"/>
		
		<!--#Consultas de Reportes-->
	</appSettings>

	<connectionStrings>
		<add name="myConnection"  connectionString="server = localhost; port = 3753; user id = postgres; password =  13270323; database = pasantias"/>
	</connectionStrings>

</configuration>